@media (max-width: 519px){
  .wrapper{
    max-width: 480px;
  }
  .header-block{
    max-width: 85%;
    min-width: 320px;
    margin: 0 auto;
  }
  .search{
    width: 66%;
  }
  .basket{
    position: absolute;
    right: 0;
    top: 90px;
  }
  .contacts{
    position: absolute;
    top: 0;
    right: 0;
  }
  .slider__text{
    top: 7%;
    left: 2%;
  }
}
@media (min-width: 520px){
  .search{
    position: absolute;
    top: 51px;
    right: 60px;
    width: 44%;
  }
  .basket{
    position: absolute;
    top: 47px;
    right: 3px;
  }
  .contacts{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .contacts li{
    display: inline-block;
  }
  footer{
    height: auto;
  }
  footer .wrapper{
    position: relative;
    overflow: hidden;
  }
  footer h4{
    /*text-align: center;*/
    /*color: #233568;*/
    color: #2092c0;
    /*text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);*/
  }
  .subscribe{
    padding: 25px 20px 0;
    width: 30%;
    float: left;
    box-sizing: border-box;
  }
  .subscribe__form{
    display: block;
    width: 80%;
    /*margin: 0px auto;*/
    padding: 10px 0 0;
  }
  .subscribe__name, .subscribe__email{
    width: 98%;
  }
  .subscribe .logo{
    /*margin: 0 auto;*/
  }
  .nav-footer{
    padding: 25px 20px 0px;
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  .menu--footer .menu__link, .quick-links__list .quick-links__link, .contacts--footer .phone{
    /*font-weight: bold;*/
    font-weight: normal;
    /*color: white;*/
    color: rgba(255, 255, 255, 0.85);
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    text-transform: none;
  }
  .menu--footer a:hover, .quick-links__list a:hover, .contacts--footer a:hover{
    /*box-shadow: 0px 0px 25px rgba(255, 255, 255, 1) inset;*/
  }
  .quick-links{
    width: 25%;
    padding: 25px 20px 0px;
    float: left;
    box-sizing: border-box;
  }
  .quick-links__list, .contacts--footer, .social__menu{
    list-style: none;
    /*text-align: center;*/
  }
  footer .contacts{
    position: relative;
    width: 20%;
    float: left;
    padding: 25px 20px 0px;
    box-sizing: border-box;
  }
  .social{
    position: relative;
    width: 20%;
    float: left;
    padding: 15px 0px 0px;
    box-sizing: border-box;
  }
  .social__menu li{
    float: left;
    padding: 2px;
  }
  .social__menu a{
    display: block;
    height: 44px;
    width: 44px;
    background: url(../images/social_icon.png) 0 0 no-repeat;
  }
  .social__menu .vk{
    background-position: -45px 0;
  }
  .social__menu .google-plus{
    background-position: -90px 0;
  }
  .social__menu .instagram{
    background-position: -135px 0;
  }
  .pay-card{
    position: relative;
    width: 20%;
    float: left;
    padding: 15px 0px 0px;
    box-sizing: border-box;
  }
  .pay-card a{
    display: block;
    height: 80px;
    background: url(../images/pay-card.png) no-repeat;
    background-size: contain;
  }
}
@media (min-width: 481px) and (max-width: 768px){
  .wrapper{
    max-width: 600px;
  }
  .dropdown__toggle{
    display: none;
  }
  .menu, .menu--footer{
    position: relative;
    top: 0;
    display: block!important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background: none;
  }
  .menu__item{
    display: inline;
    padding: 0 3px;
  }
  .top{
    width: 49.55%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
  }
  .top .top__text{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 156px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
  .menu--footer{
    width: auto;
    top: 30px;
  }
  .menu--footer .menu__link{
    font-size: 12px;
    color: #233568;
  }
}
@media (min-width: 769px){
  .wrapper{
    max-width: 960px;
  }
  .header-block{
    max-width: 85%;
    margin: 0 auto;
  }
  .dropdown__toggle{
    display: none;
  }
  .menu, .menu--footer{
    position: relative;
    top: 0;
    display: block!important;
    width: 80%;
    /*margin: 0 auto;*/
    /*text-align: center;*/
    background: none;
  }
  .menu .menu__item{
    display: inline;
  }
  .menu__item{
    padding: 0 3px;
  }
  .top{
    width: 32.55%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
  }
  .top .top__text{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 156px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
}
