@media (max-width: 480px){
  .wrapper{
    max-width: 480px;
  }
  .header-block{
    max-width: 400px;
    margin: 0 auto;
  }
  .search{
    width: 66%;
  }
  .basket{
    position: absolute;
    right: 0;
    top: 90px;
  }
  .contacts{
    position: absolute;
    top: 0;
    right: 0;
  }
  .slider__text{
    top: 7%;
    left: 2%;
  }
}
@media (min-width: 481px) and (max-width: 768px){
  .wrapper{
    max-width: 600px;
  }
  .top{
    width: 49.55%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
  }
  .top .top__text{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 156px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
  .menu--footer{
    position: relative;
    top: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    background: none;
  }
  .menu--footer .menu__item{
    padding: 0 2px;
  }
  .menu--footer .menu__link{
    font-size: 12px;
    color: #233568;
  }
}
