/*GLOBAL*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', 'source_code_prolight', Tahoma, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
@font-face {
    font-family: 'source_code_prolight';
    src: url('../fonts/sourcecodepro-light-webfont.eot');
    src: url('../fonts/sourcecodepro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcecodepro-light-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-light-webfont.ttf') format('truetype'),
         url('../fonts/sourcecodepro-light-webfont.svg#source_code_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
.wrapper{
  max-width: 960px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: #AEB1BA;
  text-transform: uppercase;
  display: block;
    /*background-color: #646A7A;*/
}
a:hover{
  text-shadow: 2px 0px 7px rgba(255, 255, 255, 1);
}
li{
  list-style: none;
}
/*HEADER*/
header, ul.menu{
  display: flex;
  flex-wrap: wrap;
}
header{
  justify-content: space-between;
  align-items: baseline;
  margin: 15px 0 0 10px;
}
.logo{
  font-size: 28px;
  font-weight: bold;
}
ul.menu{
}
.menu-item{
  margin: 0 10px;
}
.item__gallery:hover .sub-menu{
  display: block;
}
.sub-menu{
  display: none;
  position: absolute;
  background-color: rgba( 48, 53, 66, 0.8);
  border-radius: 6px;
  z-index: 1;
}
.sub-menu-item{
  padding: 2px;
}
/*FOOTER*/
footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
}
.social-link{
  display: flex;
  justify-content: center;
}
.social-link a{
  margin: 10px;
  width: 32px;
  height: 32px;
  background-size: 32px;
}
.social-link a:hover{
}
.facebook{
  background: url(../images/facebook.svg);
}
.flickr{
  background: url(../images/flickr.svg);
}
.mail{
  background: url(../images/mail.svg);
}
.share{
  background: url(../images/share.svg);
}
