/*GLOBAL*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', 'source_code_prolight', Tahoma, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
@font-face {
    font-family: 'source_code_prolight';
    src: url('../fonts/sourcecodepro-light-webfont.eot');
    src: url('../fonts/sourcecodepro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcecodepro-light-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-light-webfont.ttf') format('truetype'),
         url('../fonts/sourcecodepro-light-webfont.svg#source_code_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
}
.wrapper_main-page a{
  text-decoration: none;
  color: #AEB1BA;
  display: block;
}
.wrapper_main-page a:hover{
  color: #ffffff;
}
a{
  text-decoration: none;
  color: #303542;
  display: block;
}
a:hover{
  color: #070A13;
}
li{
  list-style: none;
}
/*HEADER*/
header{
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 0;
}
.logo{
  font-size: 28px;
  font-weight: bold;
}
.menu-button{
  width: 32px;
  height: 32px;
}
.menu-button:hover .mb0{
  fill: #ffffff;
}
.menu-button_dark:hover .mb0{
  fill: #070A13;
}
.menu{
  display: none;
	transition: all .3s ease .15s;
}
.menu-item{
  padding: 0 7px 4px;
}
.item__gallery:hover .sub-menu{
  display: block;
}
.sub-menu{
  display: none;
  position: absolute;
  top: 48px;
  border-radius: 6px;
  background-color: rgba(174,177,186,0.5);
  z-index: 1;
}
.wrapper_main-page .sub-menu{
  background-color: rgba( 48, 53, 66, 0.8);
}
.sub-menu-item{
  padding: 2px;
}
/*FOOTER*/
footer{
  align-self: center;
  margin-bottom: 20px;
}
.social-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-link a{
  margin: 10px;
  width: 21px;
  height: 21px;
}
.wrapper-form{
  display: flex;
  justify-content: center;
  width: 100%;
}
.facebook:hover .fb0{
  fill: #ffffff;
}
.flickr:hover .fl1{
  fill: #ffffff;
}
.mail:hover .ma1{
  fill: #ffffff;
}
.share:hover .sh1{
  fill: #ffffff;
}
.container-form{
  display: none;
}
form{
  display: flex;
  flex-direction: column;
  width: 250px;
  color: #ffffff;
  background-color: rgba( 48, 53, 66, 0.8);
  border-radius: 6px;
  padding: 10px;
}
.wrapper_main-page form{
  color: #AEB1BA;
}
.form-close{
  align-self: flex-end;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  cursor: pointer;
  background: url(../images/cross.svg) no-repeat, #dddddd;
  background-size: 11px;
}
.form-close:active{
  background-position: right bottom;
}
label{
  padding-bottom: 3px;
}
textarea, input{
  resize: none;
  font-family: tahoma;
  font-weight: 300;
}
.submit-button{
  margin: 10px 0 0;
  width: 40px;
  height: 30px;
  align-self: flex-end;
  font-size: x-small;
  border-radius: 4px;
  cursor: pointer;
  background: url(../images/send.svg) no-repeat, #dddddd;
  background-size: 35px 25px;
}
.submit-button:active{
  background-position: right bottom;
}
.submit-button, textarea, input, .form-close:focus{
  outline-color: transparent;
}
.ya-share2{
  display: none;
  width: 100%;
}
.ya-share2__container{
  display: flex;
  justify-content: center;
}
.ya-share2__badge{
  background-color: #303542!important;
}
